.separator {
  &:after {
    content: '';
    display: block;

    margin: 0 auto;

    width: 97%;
    height: 1px;

    position: relative;
    top: 2rem;

    background-color: $primary;
  }
}

.underline {
  &:after {
    content: '';
    width: 0;
    height: 1.5px;

    position: absolute;
    left: 0;
    bottom: -.2rem;

    background-color:$primary;
    transition: width .2s linear,color .2s linear, background-color .2s linear;
}

  &:hover {
    &:after {
        width: 100%;
    }
  }
}

.width--sm {
  width: 33.333%;
}

.activeTab {
  position: relative;

  &:after {
    content: '';

    display: inline-block;

    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    border-radius: .3rem;

    width: 100%;
    height: 2px;

    background-color: $primary;
  }
}

.show {
  display: block!important;
}

.image {
  position: relative;
  overflow: hidden;

  border-radius: 50%;

  img {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    object-fit: cover;
  }
}

.shadow {
  box-shadow:
    -15px 10px 25px rgba(112, 124, 151, 0.05),
    15px 15px 35px rgba(112, 124, 151, 0.05);
}

.scroll {
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}
