/* Bootstrap grid & materialize components */
@import '~materialize-css/sass/materialize.scss';

/* Переменные */
@import 'vars.scss';

/* Анимации */
@import 'animation.scss';

/* Измененные стили materialize */
@import "@/assets/scss/_materialize-styles.scss";

/* Blocks */
@import '@/assets/scss/blocks/about.scss';
@import '@/assets/scss/blocks/footer.scss';
@import '@/assets/scss/blocks/header.scss';
@import '@/assets/scss/blocks/settings.scss';
@import '@/assets/scss/blocks/sidebar.scss';

/* Elements */
@import '@/assets/scss/blocks/Elements/btn.scss';
@import '@/assets/scss/blocks/Elements/card.scss';
@import '@/assets/scss/blocks/Elements/checkbox.scss';
@import '@/assets/scss/blocks/Elements/logo.scss';
@import '@/assets/scss/blocks/Elements/menu.scss';
@import '@/assets/scss/blocks/Elements/modal.scss';
@import '@/assets/scss/blocks/Elements/rating.scss';
@import '@/assets/scss/blocks/Elements/search.scss';
@import '@/assets/scss/blocks/Elements/title.scss';
@import '@/assets/scss/blocks/Elements/upload.scss';

/* Auth view */
@import '@/assets/scss/blocks/Auth/auth.scss';
@import '@/assets/scss/blocks/Auth/form.scss';

/* Dialog view */
@import '@/assets/scss/blocks/Dialog/dialog.scss';
@import '@/assets/scss/blocks/Dialog/messages.scss';

/* Inbox */
@import '@/assets/scss/blocks/Inbox/chat.scss';
@import '@/assets/scss/blocks/Inbox/modal-dialog.scss';

/* ListSerials */
@import '@/assets/scss/blocks/ListSerials/alphabet.scss';
@import '@/assets/scss/blocks/ListSerials/filter-series.scss';
@import '@/assets/scss/blocks/ListSerials/select.scss';

/* TvSeries */
@import '@/assets/scss/blocks/TvSeries/datetime.scss';
@import '@/assets/scss/blocks/TvSeries/info.scss';
@import '@/assets/scss/blocks/TvSeries/myReview.scss';
@import '@/assets/scss/blocks/TvSeries/otherReview.scss';
@import '@/assets/scss/blocks/TvSeries/review-form.scss';
@import '@/assets/scss/blocks/TvSeries/series.scss';
@import '@/assets/scss/blocks/TvSeries/tabs.scss';

/* User */
@import '@/assets/scss/blocks/User/friends.scss';
@import '@/assets/scss/blocks/User/inset.scss';
@import '@/assets/scss/blocks/User/serials.scss';
@import '@/assets/scss/blocks/User/seriesStatistic.scss';
@import '@/assets/scss/blocks/User/user.scss';

/* Хелперы */
@import 'helpers.scss';

html {
  font-size: 10px;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;

  color: $primary;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p, ul, li {
  padding: 0;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, label, p, ul, li, body {
  margin: 0;
}

a {
  text-decoration: none;
}

#app {
  background-color: $light-gray;
}

.main-layout {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.page {
  padding-top: 7rem;
}
