.serials {
	padding: 1rem 0;
}

.serials__header {
	width: 30%;
	margin: 0 auto;

	text-align: center;
}

.serials__title {
	display: inline-block;
	position: relative;

	margin-bottom: 2rem;

	&:before {
		content: '';

		position: absolute;
		left: -3.5rem;

		width: 24px;
		height: 24px;

		background: url('../img/menu.svg') no-repeat center;
		background-size: 24px;
	}
}

.serials__no-series {
	position: relative;
	height: 300px;

	span {
		margin: auto;
		display: inline-block;

		height: max-content;
		width: max-content;

		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}
