.chat {
  padding-top: 7rem;
  color: $primary;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;

  span {
    display: inline-block;
  }
}