.form {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;

  color: #fff;
}

.form__label {
  display: inline-block;
  font-size: inherit;
  font-weight: 500;
}

.form__item {
  margin-bottom: 2rem;

  input {
    margin: 0!important;

    font-family: inherit;
    font-size: 1.4rem;
    font-weight: inherit;
    color: inherit;
    
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px black inset !important;
    }

    &:-webkit-autofill {
      -webkit-text-fill-color: #fff !important;
    }
  }
}

.form__invalid {
  color: #F44336;
}