.modal__title {
  padding: 1rem 0;

  font-size: 2rem;
  font-weight: 700;
  line-height: 2.8rem;

  color: $primary;

  text-align: center;
}

.modal-footer {
  padding: 1rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}