.otherReview {
  padding: 2rem 0;

  font-family: 'Inter', sans-serif;
  font-weight: 400;

  color: #4F4F4F;

  min-height: 250px;
  max-height: 600px;

  overflow: auto;
}

.otherReview__subtitle {
  margin-bottom: 1.5rem;

  font-size: 1.65rem;
}

.otherReview__text {
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.otherReview__title {
  color: $primary;
}

.otherReview__points {
  display: flex;
  align-items: center;
}

.otherReview__icon {
  display: inline-block;

  width: 42px;
  height: 32px;
}