.otherReview {
  font-family: 'Inter', sans-serif;
  font-weight: 400;

  color: #4F4F4F;

  &:hover {
    &::-webkit-scrollbar {
      background-color: rgba($primary, .3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primary;
    }
  }
}

.otherReview__item {
  & + & {
    margin-top: 2rem;
  }
}

.otherReview__subtitle {
  margin-bottom: 1.5rem;

  font-size: 1.65rem;
}

.otherReview__text {
  font-size: 1.4rem;
  line-height: 2.2rem;

  word-break: break-all;
  white-space: pre-wrap;

  p {
    padding-right: 1rem;
  }
}

.otherReview__title {
  color: $primary;
}

.otherReview__points {
  display: flex;
  align-items: center;
}

.otherReview__icon {
  display: inline-block;

  width: 42px;
  height: 32px;
}
